body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #000000;
  color: #fff;
}

/* HEADER */
header {
  text-align: center;
  padding: 60px 20px;
  background: linear-gradient(135deg, #e77102, #ff7300);
}

.profile {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
  transition: transform .2s ease;
}

.profile:hover {
  transform: scale(1.05);
}

/* SECTIONS */
section {
  max-width: 900px;
  margin: 40px auto;
  padding: 20px;
  background: #1a1a1a;
  border-radius: 12px;
}

h2 {
  color: #ff7b00;
}

/* PROJECTS */
.project {
  background: #111;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 20px;
}

a {
  color: #ff7b00;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  header {
    padding: 40px 10px;
  }

  .profile {
    width: 140px;
    height: 140px;
  }

  section {
    margin: 20px 10px;
    padding: 15px;
  }
}

@media (max-width: 480px) {
  header {
    padding: 30px 10px;
  }

  .profile {
    width: 120px;
    height: 120px;
  }

  h2 {
    font-size: 1.2rem;
  }

  .project {
    padding: 12px;
  }
}

.social-container {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.social-icon {
  font-size: 32px;
  color: #ff7b00; /* Naranja */
  transition: 0.2s ease-in-out;
}

.social-icon:hover {
  color: white;
  transform: scale(1.2);
}
